.game__end-wrapper {
    position: fixed;
    z-index: 99;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.621);
}
.game__end {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 250px;

    transform: translate(-50%, -50%);

    background-color: #fff;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 10px 40px;

    &-title {
        margin: 0;
    }
    &-tomenu {
        padding: 7px 15px;
        background: transparent;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.547);
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.547);
        cursor: pointer;

        &:hover {
            transform: translate(2px, 2px);
            box-shadow: none
        }
    }
}