.player-zone {
    padding-left: 40px;
    padding-right: 40px;

    width: 525px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__scores {
        padding: 12px;
        text-align: center;
        background-color: rgba(1, 5, 133, 0.458);
        color: rgb(19, 0, 165);

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 20px;

        & :last-child {
            margin-left: auto;
        }
    }

    &__start {
        margin-top: 20px;
        background-color: transparent;
        border: 1px solid #0f0;
        border-radius: 5px;
        padding: 7px 20px;
        cursor: pointer;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);

        &:hover {
            background-color: #0f0;
            animation: shineGreen 1s linear 0s infinite alternate;

            @keyframes shineGreen {
                0% {
                    filter:brightness(100%);
                }
                100% {
                    filter:brightness(90%);
                }

            }
        }
    }
}