.player-zone__field {
    margin-top: 20px;

    // border: 1px solid rgba(1, 5, 133, 0.458);

    display: grid;
    grid-template-columns: repeat(11, 37px);
    grid-template-rows: repeat(11, 37px);
}

.player-zone__block {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(1, 5, 133, 0.458);

    &.player-zone__block--blocked {
        pointer-events: none;
    }
}