.player-zone__ship-shop {
    margin-top: 18px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: flex-end;
}

.player-zone__ship {
    display: flex;
    align-items: center;
    
    img {
        max-width: 100%;
    }
    &--4 {
        height: 37px;
        width: calc(37px * 4);
    }
    &--3 {
        height: 37px;
        width: calc(37px * 3);
    }
    &--2 {
        height: 37px;
        width: calc(37px * 2);
    }
    &--1 {
        height: 37px;
        width: 37px;
    }
}